<a href="https://colab.research.google.com/github/rahulsing/pytorch_demo/blob/master/07_RNN_Gender_By_Names_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/gdrive

In [5]:
import pandas as pd

names_data=pd.read_csv("/content/gdrive/My Drive/datasets/gender_by_names/names.csv")
names_data.head()

      Name  Gender
0    Aamir    Male
1    Aaron  Female
2    Aaron    Male
3  Abagael  Female
4  Abagail  Female

In [6]:
len(names_data)

10132

In [7]:
len(names_data['Name'].unique())

9543

In [0]:
import random

names_data=names_data.drop_duplicates(subset=['Name'],keep=random.choice(['first','last']))

In [10]:
len(names_data)

9543